<p style="color: green"><%= notice %></p>

<h1>Tasks</h1>

<div id="tasks">
  <div>
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>
  </div>
</div>

<%= link_to "New task", new_task_path %>
